@import "tailwindcss";
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html {
  font-size: 16px;
}

body {
  background-color: var(--color-neutral-100);
}

.no-scrollbar {
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@theme {
  --color-brand: #e32a6d;
  --color-brand-hover: #c4205a;
  --color-accent: #ffaf25;
  --color-accent-hover: #e69e1a;
}
